{
  "extends": ["airbnb", "plugin:jest/recommended", "plugin:cypress/recommended"],
  "plugins": ["jest", "cypress", "react"],
  "env": {
    "browser": true,
    "jest/globals": true,
    "cypress/globals": true
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "no-unused-vars": ["error",
    {
      "varsIgnorePattern": "^_",
      "argsIgnorePattern": "^_" 
    }],
    "max-len": [1, 200],
    "no-shadow": 0,
    "no-plusplus": 0,
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": [
      1,
      {
        "skipUndeclared": true
      }
    ],
    "react/function-component-definition": ["warn", {
      "namedComponents": "arrow-function" ,
      "unnamedComponents": "arrow-function"
    }]
  }
}